body {
    background-color: navy;
    color: white;
}

header {
    text-align: center;
    margin-top: 2cm; /* Adjust the margin value as needed */
}

h1 {
    font-size: 36px; /* Adjust the font size as needed */
}