---
interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;

// import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Navbar /> -->
    <slot />
  </body>
</html>
<style is:global>
  /* All elements */
  body {
    margin: 0;
    padding: 0;
    font-family: "Canva Sans Display";
    color: black;
  }

  /* ∑ Typical css for elements ∑ */

  /* ∑ Let the fonts begin... ∑ */
  @font-face {
    font-family: "Canva Sans";
    src:
      local("Canva Sans"),
      url("/fonts/Canva Sans/CanvaSans-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canva Sans Display";
    src:
      local("Canva Sans Display"),
      url("/fonts/Canva Sans Display/CanvaSansDisplay-Regular.otf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
