---
interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;

// import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/assets/sigma.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Navbar /> -->
    <slot />
  </body>
</html>
<style is:global>
  /* All elements */
  body {
    margin: 0;
    padding: 0;
    font-family: "Canva Sans Display";
    color: black;
  }

  /* ∑ Typical css for elements ∑ */

  /* ∑ Let the fonts begin... ∑ */
  @font-face {
    font-family: "Canva Sans";
    src:
      local("Canva Sans"),
      url("/fonts/Canva Sans/CanvaSans-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Canva Sans Display";
    src:
      local("Canva Sans Display"),
      url("/fonts/Canva Sans Display/CanvaSansDisplay-Regular.otf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
