---
import Layout from "../layouts/Main.astro";
---

<Layout
    title="This is PengiOS"
    description="Whether you're a regular person, penguin lover, or penguin yourself, you'll love our free (as in freedom) and open source Linux distributions. The ultimate powerful, innovative, educational, easy and mostly lightweight operating system for your needs."
>
    <header>
        <h1>Welcome to Pengi OS</h1>
    </header>
</Layout>

<style>
    body {
        background-color: rgb(45, 41, 87);
        color: white;
    }

    header {
        text-align: center;
        margin-top: 2cm;
    }

    h1 {
        font-size: 36px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {});
</script>
