---
import Layout from "../layouts/Main.astro";
---

<Layout
  title="New Tab - PengiOS"
  description="This is the homepage for PengiOS. Search on DuckDuckGo, Google and more, see weather and the time, and keep track of your day on our dashboard."
>
  <header>
    <h1>Welcome to Pengi OS</h1>
  </header>
</Layout>

<style>
  body {
    background-color: navy;
    color: white;
  }

  header {
    text-align: center;
    margin-top: 2cm; /* Adjust the margin value as needed */
  }

  h1 {
    font-size: 36px; /* Adjust the font size as needed */
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {});
</script>
