<div id="consent">
    <button id="consent-button" title="Configure optional opt-in ads, cookies and analytics">
        <img src="/cookie.svg" alt="Privacy configuration">
    </button>
</div>
<div id="consent-form">
    <h2 id="consent-header">Data and ads consent</h2>
    <p class="info">As a free Linux distribution, we obviously value privacy. Our website contains <strong>completely optional</strong> opt-in analytics and (unobtrusive) ads from EthicalAds. These greatly help to improve our website, but aren't the best for privacy. We give you the options, which would be <strong>highly appreciated</strong>, to enable these, but we completely understand if you don't. We try our best to ensure user data is not identifiable, profileable nor used by Google, nor used to tailor anything.</p>
    <form action="">
        <input type="checkbox" id="ads-consent" name="ads-consent" value="Ads">
        <label for="ads-consent"> Enable non-tracked ads from EthicalAds</label><br>
        <input type="checkbox" id="data-consent" name="data-consent" value="Analytics">
        <label for="data-consent"> Enable optional analytics with Google Analytics</label><br>
        <input type="submit" value="Confirm!" id="confirm-button">
    </form>
    <p class="info">(Heads-up: these come with cross-site cookies. You can change this at any time. If you enable these, settings are saved as cookies.)</p>
    <u class="info" id="hide-button">Hide this button (this is saved until your clear the cookies - confirm and save your choices first)</u>
</div>
<style>
    /* Consent button styles */
    #consent-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 3px;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    /* Consent form styles */
    #consent-form {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 350px;
        width: 525px;
        background-color: white;
        border-radius: 3px;
        border-color: black;
        border-width: 3px;
        border-style: solid;
        color: black;
        padding: 10px;
    }

    .info {
        font-size: 12px;
    }

    #consent-header {
        font-size: 20px;
    }

    #confirm-button {
        background-color: rgb(104, 161, 211);
        color: white;
        border-radius: 4px;
        border: none;
        padding: 5px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var consentFormToggled = false;
        var consentDiv = document.getElementById("consent") as HTMLDivElement;
        var consentButton = document.getElementById("consent-button") as HTMLButtonElement;
        const formHTML: string = `
            
        `;
        const buttonHTML: string = `
            <button id="consent-button" title="Configure optional opt-in ads, cookies and analytics">
                <img src="/cookie.svg" alt="Privacy configuration">
            </button>
        `;

        function toggleConsentForm() {
            if (consentFormToggled) {
                consentFormToggled = false;
                consentDiv.innerHTML = buttonHTML
                consentButton.addEventListener("click", toggleConsentForm);
            } else {
                consentFormToggled = true;
                consentDiv.innerHTML = formHTML;
            }
        }

        consentButton.addEventListener("click", toggleConsentForm);
    
        consentButton.addEventListener("click", toggleConsentForm);
    });
</script>