---
interface Props {
    title: string;
    description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;

import { ViewTransitions } from 'astro:transitions';

import Consent from "../components/Consent.astro";
// import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-L50S62P3GX"
            type="text/partytown"></script>
        <script is:inline type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("consent", "default", {
                ad_user_data: "denied",
                ad_personalization: "denied",
                ad_storage: "denied",
                analytics_storage: "denied",
                wait_for_update: 500,
            });
            gtag("js", new Date());

            gtag("config", "G-L50S62P3GX");
        </script>

        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/icon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <!-- <Navbar /> -->
        <slot />
        <Consent />
    </body>
</html>
<style is:global>
    /* All elements */
    body {
        margin: 0;
        padding: 0;
        font-family: "Canva Sans Display";
        color: black;
    }

    /* ∑ Typical css for elements ∑ */

    /* ∑ Let the fonts begin... ∑ */
    @font-face {
        font-family: "Canva Sans";
        src:
            local("Canva Sans"),
            url("/fonts/Canva Sans/CanvaSans-Regular.otf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Canva Sans Display";
        src:
            local("Canva Sans Display"),
            url("/fonts/Canva Sans Display/CanvaSansDisplay-Regular.otf")
                format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
